@page "/Ticket/Compra/"
@page "/Ticket/Compra/{eventoId:int}"
@inject TicketService ticketService
@inject EventosService eventosService
@rendermode InteractiveServer
@inject NavigationManager navigationManager

<PageTitle>TixPro - Compra de ticket</PageTitle>
<EditForm Model="evento">
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row align-items-center">
                <!-- Imagen -->
                <div class="col-md-6">
                    <img class="card-img" src="@evento.imagen" alt="Imagen del Evento">
                </div>
                <!-- Contenido de Texto -->
                <div class="col-md-6">
                    <div class="card-body">
                        <h3 class="fw-bold">@evento.nombre</h3>
                        <p class="text-muted">                           
                            <span class="text-dark fw-bold">RD$ @evento.precio</span>
                        </p>
                        <p><i class="bi bi-calendar4-week"></i> @evento.lugar</p>
                        <p><i class="bi bi-geo-alt"></i> @evento.fecha</p>

                        <div class="add-ticket-type d-flex gap-2 align-items-center">
                            <div class="bg-white border border-dark  rounded rounded-pill shadow" style="width: auto;">
                                <div class="btn-group" role="group" aria-label="Cantidad">
                                    <button type="button" class="btn btn-outline-primary rounded-pill" @onclick="DecreaseQuantity">
                                        <span class="bi bi-dash"></span>
                                    </button>
                                    <div class="quantity-box">
                                        <input type="text" class="quantity-number" @bind="ticket.cantidad" readonly>
                                    </div>
                                    <button type="button" class="btn btn-outline-primary rounded-pill" @onclick="IncreaseQuantity">
                                        <span class="bi bi-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Botón de Comprar con Precio Total -->
                        @if (ticket.cantidad < 1)
                        {                           
                            <div class="mb-2" style="padding: 30px;">
                                <button class="btn btn-outline-success rounded-pill d-flex align-items-center justify-content-center bi bi-ticket shadow" disabled @onclick="NavigateToCart">
                                    Comprar Tickets
                                    <div class="total-price me-2">
                                        RD$ @ticket.monto.ToString("F2")
                                    </div>
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="mb-2" style="padding: 30px;">
                                <button class="btn btn-outline-success rounded-pill d-flex align-items-center justify-content-center bi bi-ticket shadow" @onclick="NavigateToCart">
                                    Comprar Tickets
                                    <div class="total-price me-2">
                                        RD$ @ticket.monto.ToString("F2")
                                    </div>
                                </button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
        <div class="container"><p class="m-0 text-center text-white">Copyright  &copy; Ozcudi-Studios </p></div>
    </footer>
</EditForm>

@code {
    [Parameter]
    public int eventoId { get; set; }
    public Evento evento { get; set; } = new Evento();
    public Ticket ticket { get; set; } = new Ticket();


    protected override async Task OnInitializedAsync()
    {
        evento = await eventosService.Buscar(eventoId);
        UpdateTotalPrice();
    }

    private void IncreaseQuantity()
    {
        ticket.cantidad++;
        UpdateTotalPrice();
    }

    private void DecreaseQuantity()
    {
        if (ticket.cantidad > 0)
        {
            ticket.cantidad--;
            UpdateTotalPrice();
        }
    }

    private void UpdateTotalPrice()
    {
        ticket.monto = ticket.cantidad * evento.precio;
    }

    private void NavigateToCart()
    {
        
        navigationManager.NavigateTo($"/Ticket/Carrito/{evento.eventoId}");
    }
}
