@page "/Ticket/Carrito/{eventoId:int}&{cantidad:int}&{monto:decimal}"

@using Microsoft.AspNetCore.Authorization

@inject EventosService eventosService
@inject UsuariosService usuarioService
@inject TicketService ticketSercive
@rendermode InteractiveServer
@inject NavigationManager navigationManager

@attribute [Authorize]
<PageTitle>TixPro - Carrito</PageTitle>
<style>
    .form-floating input {
        border-radius: 2rem;
        padding: 1rem;
        font-size: 1.5rem;
    }
</style>

<EditForm Model="evento">
    <div class="main-container">
        <div class="row">
        <!-- Contenedor Izquierdo: Detalles del Evento -->
                <div class="left-container col-md-6">
                    <h4 class="fw-bold">Datos de contacto</h4>

                    <div class="form-floating mb-2">                        
                        <InputText @bind-Value="usuario.nombre" class="form-control col-md-6" placeholder="Nombre completo:" style="font-size: 1.1rem;" />
                        <label for="Nombre" class="form-label">Nombre completo:</label>
                        <ValidationMessage For="@(() => usuario.nombre)" />
                    </div>

                    <div class="form-floating mb-2">                        
                        <InputText @bind-Value="usuario.whatsapp" class="form-control col-md-6" placeholder="Correo electrónico:" style="font-size: 1.1rem;" />
                        <label for="Correo" class="form-label">Whatsapp:</label>
                        <ValidationMessage For="@(() => usuario.whatsapp)" />
                    </div>
                    <!--Informacion de pago-->
                <h4 class ="fw-bold"> Información de pago</h4>
                <div class="card border-success mb-4">
                        <div class="card-header">
                             <h5 class="mb-0">Pago seguro con Tarjeta</h5>
                        </div>

                    <div class="card-body mt-3">
                        <div class="form-floating mb-2">
                            <InputText @bind-Value="tarjeta.nombreTitular" class="form-control" autocomplete="Nombre titular tarjeta" />
                            <label for="nombreTarjeta" class="form-label">Nombre titular tarjeta</label>
                            <ValidationMessage For="() => tarjeta.nombreTitular" class="text-danger" />
                        </div>

                        <div class="form-floating mb-2">
                            <InputText @bind-Value="tarjeta.numeroTarjeta" class="form-control" autocomplete="Numero de tarjeta" />
                            <label for="numeroTarjeta" class="form-label">Numero de tarjeta</label>
                            <ValidationMessage For="() => tarjeta.numeroTarjeta" class="text-danger" />
                        </div>

                        <div class="row g-3">
                            <div class="col-md-6 col-12">
                                <div class="form-floating">
                                    <InputText @bind-Value="tarjeta.fechaExpiracion" class="form-control" autocomplete="off" id="fecha" />
                                    <label for="fecha" class="form-label">Fecha de expiración (MM/AA)</label>
                                    <ValidationMessage For="() => tarjeta.fechaExpiracion" class="text-danger" />
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="form-floating">
                                    <InputText @bind-Value="tarjeta.codigoSeguridad" class="form-control" autocomplete="Código de seguridad" />
                                    <label for="codigo" class="form-label">(CVV) Código de seguridad</label>
                                    <ValidationMessage For="() => tarjeta.codigoSeguridad" class="text-danger" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center gap-3 mt-3">
                    <a href="/Ticket/Compra/@evento.eventoId" class="btn btn-outline-dark rounded-pill" type="button">
                        Regresar
                    </a>
                    <a href="/Carrito/Confirmar/@evento.eventoId" class="btn btn-success rounded-pill" type="button">
                        Pagar ahora
                    </a>
                </div>


                    
             </div>            
                <!-- Contenedor Derecho: Carrito de Compras -->
                <div class="right-container col-md-6 mx-auto d-flex flex-column justify-content-center align-items-center">
                    <!-- Fila (row) para contener la imagen y el contenido de texto -->
                <div class="row align-items-center w-100">
                        <!-- Columna para la imagen -->
                        <div class="col-md-6 d-flex justify-content-center">
                            <img class="card-img" src="@evento.imagen" alt="Imagen del Evento" style="height: 300px; width: auto;">
                        </div>
                        <!-- Columna para el contenido de texto -->
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="fw-bold">@evento.nombre</h5>
                            <p><i class="bi bi-geo-alt"></i> @evento.lugar</p>
                            <p><i class="bi bi-calendar4-week"></i> @evento.fecha</p>
                            </div>
                            <hr />
                                <p class="text-muted">
                                    <span class="text-dark fw-bold">Precio: RD$ @evento.precio</span>                           
                                </p>
                                <p class="text-muted">
                                    <span class="text-dark fw-bold">Cantidad: @cantidad</span>
                                </p>                       
                            <hr />
                                <h6>Sub Total: RD$ @monto</h6>
                            <h6>Cargo de Servicio: RD$ @(cargo * cantidad)</h6>
                            <hr />
                                <h6>Total a Pagar: RD$ @ticket.monto </h6>
                        </div>
                    </div>
                </div>
        </div>
        <div style="height: 190px;"></div>
    </div>
</EditForm>

<!-- Footer-->
<footer class="py-5 bg-dark" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
    <div class="container"><p class="m-0 text-center text-white">Copyright  &copy; Ozcudi-Studios </p></div>
</footer>


@code {
    [Parameter]
    public int eventoId { get; set; }
    public int ticketId { get; set; }
    public Evento evento { get; set; } = new Evento();
    public int usuarioId { get; set; }
    public Usuario usuario { get; set; } = new Usuario();
    public Ticket ticket { get; set; } = new Ticket();
    public int tarjetaId { get; set; }
    public Tarjeta tarjeta { get; set; } = new Tarjeta();
    [Parameter]
    public int cantidad { get; set; }
    [Parameter]
    public decimal monto { get; set; }
    public decimal cargo = 10;
    public decimal montoTemporal;

    protected override async Task OnInitializedAsync()
    {
        evento = await eventosService.Buscar(eventoId);              
        CalcularTotal();
    }



    private void CalcularTotal()
    {   
        ticket.monto = (evento.precio * cantidad) + (cargo * cantidad);
    }

    public async void Guardar()
    {

        ticket.eventoId = eventoId;
        ticket.cantidad = cantidad;


        var resultado = await ticketSercive.Guardar(ticket);
        if (resultado)
        {
           
        }
    }

}
