@page "/Carrito/Confirmar/{eventoId:int}/{usuarioId:int}"
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager
@inject TarjetaService tarjetaService
@inject EventosService eventosService
@inject UsuariosService usuariosService

<PageTitle>TixPro - Confirmacion de compra</PageTitle>
<style>
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        background-color: #fff;
    }

    .card {
        border-radius: .5rem;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        width: 90%;
        max-width: 500px;
        padding: 3rem;
        text-align: center;
    }

    h1 {
        font-size: 2.5rem;
        color: #343a40;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 1.1rem;
        color: #6c757d;
        margin-bottom: 2rem;
    }

    .btn-success {
        background-color: #28a745;
        border: none;
        padding: 0.75rem 1.5rem;
        border-radius: 2rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        transition: background-color 0.3s ease;
    }

        .btn-success:hover {
            background-color: #218838;
        }

    .bi-check-circle-fill {
        margin-right: 10px;
    }

    .status-message {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        color: #28a745;
    }

    .back-button {
        display: inline-block;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        border-radius: 50px;
        color: black;
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        transition: background-color 0.3s ease;
        text-decoration: none;
        margin-top: 2rem;
    }

        .back-button:hover {
            background-color: #e9ecef;
            text-decoration: none;
        }

        .back-button .bi {
            margin-right: 8px;
        }
</style>

<div class="login-container">
    <div class="card">
        @if (evento != null)
        {
            <h1>Gracias por tu Compra: @usuario.nombre </h1>
            <p>Evento: <strong>@evento.nombre</strong></p>
            <p>Lugar del evento: <strong>@evento.lugar</strong></p>
            <p>Hora del evento:
                <strong> 
                @(DateTime.TryParse(evento.hora, out var horaEvento)
                    ? $"{horaEvento:hh:mm tt}"
                    : "Hora inválida")
                </strong>
            </p>
            <p>Fecha del evento: <strong>@evento.fecha.ToString("dd/MM/yyyy")</strong></p>
        }
        else
        {
            <h1>Cargando evento...</h1>
        }

        <a href=@($"https://wa.me/1{ObtenerNumero()}?text={ObtenerMensaje()}") class="btn btn-outline-success rounded-pill" type="button" target="_blank" rel="noopener noreferrer">
            <span class="bi bi-whatsapp"></span> Obtener Ticket
        </a>
        <a href="/Review/Create/@usuario.nombre" class="btn btn-outline-dark rounded-pill bi bi-star-fill" type="button" style="margin-top: 10px;"> Deja tu reseña</a>
    </div>
</div>

@code {
    [Parameter]
    public int eventoId { get; set; }
    public Evento evento { get; set; } = new Evento();
    [Parameter]
    public int usuarioId { get; set; }
    public Usuario usuario { get; set; } = new Usuario();

    protected override async Task OnInitializedAsync()
    {
        evento = await eventosService.Buscar(eventoId);
        usuario = await usuariosService.Buscar(usuarioId);
    }

    public string ObtenerNumero()
    {
        string NumeroWhatsApp = usuario.whatsapp;
        return NumeroWhatsApp;
    }

    public string ObtenerMensaje()
    {

        string horaFormateada = DateTime.TryParse(evento.hora, out DateTime horaValida)
            ? horaValida.ToString("hh:mm tt")
            : "Hora inválida";

            string Mensaje =
        $" *¡Gracias por su compra,* {usuario.nombre}!\n\n" +
        $"                                                                          " +
        $" *Evento:* {evento.nombre}\n" +
        $"                                                                          " +
        $" *Fecha:* {evento.fecha:dd/MM/yyyy}\n" +
        $"                                                                          " +
        $" *Lugar:* {evento.lugar}\n" +
        $"                                                                          " +
        $" *Hora:* {horaFormateada}\n\n" +
        $"                                                                          " +
        $" *Monto total:* RD${usuario.Ticket?.monto:N2}\n" +
        $"                                                                          " +
        $" *Códigos de tickets:* {usuario.Ticket?.codigosTickets}\n\n" +
        $"                                                                          " +
        $" *¡Nos vemos pronto y disfrute del evento!* ";

        return Mensaje;
    }

}
