@page "/Ticket/Compra/{eventoId:int}"
@using Microsoft.EntityFrameworkCore
@inject TicketService ticketService
@inject EventosService eventosService
@rendermode InteractiveServer
@inject NavigationManager navigationManager

<style>
    .btn-primary {
        background-color: black; /* Color más suave */
        border: none;
        padding: 1rem 1.5rem;
        border-radius: 0.75rem;
        font-weight: bold;
        font-size: 1.25rem;
        color: white;
        transition: background-color 0.3s, transform 0.2s;
    }

        .btn-primary:hover {
            background-color: #2c5282; /* Un tono de azul más oscuro */
            transform: translateY(-2px);
        }

    /* Grupo de botones */
    .btn-group .btn {
        background-color: black;
        border: none;
        height: 50px;
        padding: 1rem 1.5rem;
        font-weight: bold;
        font-size: 1.25rem;
        color: white;
        transition: background-color 0.3s, transform 0.2s;
    }

        .btn-group .btn:hover {
            background-color: #1e40af;
        }


    /* Caja de cantidad */
    .quantity-box input {
        text-align: center;
        font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
        padding: 0.75rem;
        height: 50px;
        width: 70px;
        border-top: 2px solid transparent; /* Borde superior más largo */
        border-bottom: 2px solid transparent; /* Borde inferior más largo */
        border-left: 2px solid transparent; /* Borde lateral izquierdo transparente */
        border-right: 2px solid transparent; /* Borde lateral derecho transparente */
        transition: border-color 0.3s;
    }


        .quantity-box input:focus {
            border-color: #1e40af; /* Color de borde cuando está enfocado */
        }

    /* Estilo de los controles de cantidad */
    .quantity-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem; /* Espacio entre controles */
    }

    /* Botón de compra */
    .btn-outline-success {
        background-color: black; 
        border-color: #fff;
        color: white;
        padding: 1rem 4rem;
        border-radius: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
    }
        /* Estilo para el botón deshabilitado */
        .btn-outline-success:disabled {
            background-color: black !important;
            border-color: black !important;
            color: white !important;
            opacity: 0.65; 
        }

    .btn-outline-success:hover {
        background-color: #1e40af; /* Fondo azul */
        color: white; /* Texto blanco */
        border-color: #1e40af;
    }

    .btn-outline-success .total-price {
        margin-left: 1rem;
        font-size: 1.1rem;
        font-weight: normal;
        
    }
</style>

<PageTitle>TixPro - Compra de ticket</PageTitle>

<EditForm Model="evento">
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5 shadow rounded-pill">
            <div class="row align-items-center">
                <!-- Imagen -->
                <div class="col-md-6">
                    <img class="card-img" src="@evento.imagen" alt="Imagen del Evento">
                </div>
                <!-- Contenido de Texto -->
                <div class="col-md-6">
                    <div class="card-body">
                        <h3 class="fw-bold">@evento.nombre</h3>
                        <p class="text-muted">                           
                            <span class="text-dark fw-bold">RD$ @evento.precio</span>
                        </p>
                        <p><i class="bi bi-calendar4-week"></i> @evento.lugar</p>
                        <p><i class="bi bi-geo-alt"></i> @evento.fecha.ToString("dd/MM/yyyy")</p>
                        <p>
                            <i class="bi bi-alarm"></i>
                            @(DateTime.TryParse(evento.hora, out var horaEvento)
                                ? $"{horaEvento:hh:mm tt}"
                                : "Hora inválida")
                        </p>
                        <div class="add-ticket-type d-flex gap-2 align-items-center">
                            <div class="bg-white border border-dark  rounded rounded-pill shadow" style="width: auto;">
                                <div class="btn-group" role="group" aria-label="Cantidad">
                                    <button type="button" class="btn btn-outline-primary rounded-pill" @onclick="DecreaseQuantity">
                                        <span class="bi bi-dash"></span>
                                    </button>
                                    <div class="quantity-box">
                                        <input type="text" class="quantity-number" @bind="cantidad" readonly>
                                    </div>
                                    <button type="button" class="btn btn-outline-primary rounded-pill" @onclick="IncreaseQuantity">
                                        <span class="bi bi-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Botón de Comprar con Precio Total -->
                        @if (cantidad < 1)
                        {
                            <div class="mb-2 " style="padding: 30px;">
                                <button class="btn btn-outline-success rounded-pill d-flex align-items-center justify-content-center bi bi-ticket shadow" disabled @onclick="NavigateToCart">
                                    Comprar Tickets
                                    <div class="total-price me-2">
                                        RD$ @monto.ToString("F2")
                                    </div>
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="mb-2" style="padding: 30px;">
                                <button class="btn btn-outline-success rounded-pill d-flex align-items-center justify-content-center bi bi-ticket shadow" @onclick="NavigateToCart">
                                    Comprar Tickets
                                    <div class="total-price me-2">
                                        RD$ @monto.ToString("F2")
                                    </div>
                                </button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
        <div class="container"><p class="m-0 text-center text-white">Copyright  &copy; Ozcudi-Studios </p></div>
        <div style="text-align: center;">
            <a href="/About/Index">
                <button class="btn-custom bi bi-github"> Quienes somos </button>
            </a>
        </div>
    </footer>
</EditForm>


@code {
    [Parameter]
    public int eventoId { get; set; }
    public Evento evento { get; set; } = new Evento();
    private int cantidad { get; set; } = 0;
    private decimal monto { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        evento = await eventosService.Buscar(eventoId);
        UpdateTotalPrice();
    }

    private void IncreaseQuantity()
    {
        cantidad++;
        UpdateTotalPrice();
    }

    private void DecreaseQuantity()
    {
        if (cantidad > 0)
        {
            cantidad--;
            UpdateTotalPrice();
        }
    }

    private void UpdateTotalPrice()
    {
        monto = cantidad * evento.precio;
    }

    private void NavigateToCart()
    {
        navigationManager.NavigateTo($"/Ticket/Carrito/{evento.eventoId}&{cantidad}&{monto}");
    }
}


